<header class="wow fadeInDown" data-wow-delay="0.1s">
    <nav class="navbar navbar-expand-lg">
        <div class="container d-block">
            <div class="row align-items-center mb-2 pb-2 pb-md-0 mb-md-0">
                <div class="col-lg-3 col-md-3 col-5">
                    <a class="navbar-brand d-block py-0" href="#">
                        <img src="/images/logo.svg" alt="" />
                    </a>
                </div>
                <div class="col-lg-6 col-md-4 col-6 d-md-block d-none">
                    <div class="input-group">
                        <input type="text" class="form-control src-inp" placeholder="Type your search terms...." aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <button class="input-group-text inp-btn"><i class="fas fa-search"></i></button>
                        <div class="src-autosuggestion">
                            <!-- <h6 class="src-see-btn-box text-end">
                                <button class="see_all_btn">
                                    See All
                                </button>
                            </h6>
                            <ul class="suggest_list">
                                <li class="suggest">
                                    <span class="icon_box">
                                        <img src="/images/product-icon/src-placeholder-icon-sm.png" alt="">
                                    </span>
                                    <span class="text_box">
                                        <span class="suggest_text">Compression Pads</span>
                                        <span class="p_code_text">39-0414/12</span>
                                    </span>
                                </li>
                                <li class="suggest">
                                    <span class="icon_box">
                                        <img src="/images/product-icon/src-icon1.png" alt="">
                                    </span>
                                    <span class="text_box">
                                        <span class="suggest_text">Compression Frame jig</span>
                                        <span class="p_code_text">39-5600 </span>
                                    </span>
                                </li>
                                <li class="suggest">
                                    <span class="icon_box">
                                        <img src="/images/product-icon/src-placeholder-icon-sm.png" alt="">
                                    </span>
                                    <span class="text_box">
                                        <span class="suggest_text">Compression Pads</span>
                                        <span class="p_code_text">39-0414/12</span>
                                    </span>
                                </li>
                                <li class="suggest">
                                    <span class="icon_box">
                                        <img src="/images/product-icon/src-icon1.png" alt="">
                                    </span>
                                    <span class="text_box">
                                        <span class="suggest_text">Compression Frame jig</span>
                                        <span class="p_code_text">39-5600 </span>
                                    </span>
                                </li>
                            </ul>
                            <h6 class="src-cate">
                                <span>Categories</span>
                            </h6>
                            <ul class="categ-list">
                                <li>
                                    <a href="#!">Manually- Operated Compression Machines</a>
                                </li>
                                <li>
                                    <a href="#!">Compression Machines</a>
                                </li>
                                <li>
                                    <a href="#!">Compressive Strength</a>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-7 text-end text-md-start">
                    <button class="primary-btn catlg-btn">Download Products Catalogue</button>
                    <button class="menu-btn d-inline-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
            <div class="row gx-3 d-md-none position-relative">
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control src-inp" placeholder="Type your search terms...." aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <button class="input-group-text inp-btn"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="col-6">
                    <button class="primary-btn catlg-btn d-block">Download Products Catalogue</button>
                </div>
                <!-- <div class="src-autosuggestion">
                    <h6 class="src-see-btn-box text-end">
                        <button class="see_all_btn">
                            See All
                        </button>
                    </h6>
                    <ul class="suggest_list">
                        <li class="suggest">
                            <span class="icon_box">
                                <img src="/images/product-icon/src-placeholder-icon-sm.png" alt="">
                            </span>
                            <span class="text_box">
                                <span class="suggest_text">Compression Pads</span>
                                <span class="p_code_text">39-0414/12</span>
                            </span>
                        </li>
                        <li class="suggest">
                            <span class="icon_box">
                                <img src="/images/product-icon/src-icon1.png" alt="">
                            </span>
                            <span class="text_box">
                                <span class="suggest_text">Compression Frame jig</span>
                                <span class="p_code_text">39-5600 </span>
                            </span>
                        </li>
                        <li class="suggest">
                            <span class="icon_box">
                                <img src="/images/product-icon/src-placeholder-icon-sm.png" alt="">
                            </span>
                            <span class="text_box">
                                <span class="suggest_text">Compression Pads</span>
                                <span class="p_code_text">39-0414/12</span>
                            </span>
                        </li>
                        <li class="suggest">
                            <span class="icon_box">
                                <img src="/images/product-icon/src-icon1.png" alt="">
                            </span>
                            <span class="text_box">
                                <span class="suggest_text">Compression Frame jig</span>
                                <span class="p_code_text">39-5600 </span>
                            </span>
                        </li>
                    </ul>
                    <h6 class="src-cate">
                        <span>Categories</span>
                    </h6>
                    <ul class="categ-list">
                        <li>
                            <a href="#!">Manually- Operated Compression Machines</a>
                        </li>
                        <li>
                            <a href="#!">Compression Machines</a>
                        </li>
                        <li>
                            <a href="#!">Compressive Strength</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </nav>
    <div class="desk-menu d-none d-lg-flex navbar navbar-expand-lg">
        <div class="container">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/about' ? 'active' : '' %>" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/products' ? 'active' : '' %>" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/our-services' ? 'active' : '' %>" href="/our-services">Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPath === '/contact-us' ? 'active' : '' %>" href="/contact-us">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">
            <img src="/images/logo.svg" alt="" />
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1">
            <li class="nav-item">
                <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= currentPath === '/about' ? 'active' : '' %>" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= currentPath === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= currentPath === '/our-services' ? 'active' : '' %>" href="/our-services">Our Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= currentPath === '/contact-us' ? 'active' : '' %>" href="/contact-us">Contact us</a>
            </li>
        </ul>
    </div>
</div>